<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block content %}

    {% endblock %}
    <h1 id="time"></h1>
            <script>
                setInterval(time, 1000);
                function time() {
                    let d = new Date()
                    h=d.getHours();
                    h= h>12?h-12:h;
                    document.getElementById('time').innerHTML = h + ":" + d.getMinutes() + ":" + d.getSeconds();
                }
            </script>
</body>

</html>