<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom css for chat pages -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat_style.css') }}">
</head>
<body>
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class=formError> {{message}} </p>
            {% endfor %}
        {% endif%}
    {% endwith %}
 <div  class="wrapper"><!-- wrapper -->

    <nav>
     <!--top navigaton bar -->
     <div>
        <a id="logout-btn" class="" href="{{ url_for('logout')}}"><span>Logout</span></a>
     </div>
    </nav>

    
    <div id="main-section">

        <nav id="sidebar">
            <h3>Rooms</h3>
             {% for room in rooms :%}
              <p id="{{ room|title }}" class="select-room cursor-pointer">{{ room|title }}</p>
             {% endfor %}
        </nav>
        
        <!-- Rightside pannel start -->
        <div id="rightside-pannel">
            <!-- Display message start-->
            <div id="display-message-section">

            </div> 
            <!-- Display message end -->
            

            <!-- Type message start -->
            <div id="input-area" class="">
                  <input type="text" id="user_message"
                  class="form-control" plaseholder="Type here....">
                  <div class="">
                        <button type="button" class="btn btn-warning"      id="send_message">Send</button>
                  </div>
            </div>
            <!-- Type message end -->

        </div>
        <!-- Rightside pannel end -->

    </div>
    <!-- Main section end -->

 </div> <!-- wrapper end-->
    
    <!-- Get username -->
    <span id="get-username" style="display: none;">{{ username }}</span>

    <!-- Custom SocketIO JS -->
    <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

    <!-- SocketIO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
       
        crossorigin="anonymous"></script>
   

    
    


</body>
</html>