{% from 'macro.html' import displayField %}
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
  <div style="text-align: center;">
   <h1>Login</h1>
   <form action="{{ url_for('login')}}" method='POST' class="login">
        {{ displayField(form.username,'Username',autocomplete="off",autofocus=true) }}

        {{ displayField(form.password,'password') }} 

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-warning">
        </div>
       
        {{ form.csrf_token }}
   </form>
     
   <p style="text-align: center;">Have not registered? <a href="{{ url_for('index')}}" >Register here</a>.</p>

</div>
{% endblock %}

